$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$navbar-teal-color:             #fff !default;
$navbar-teal-bg:                #337ab7 !default;
$navbar-teal-border:            0 !default;

// Navbar links
$navbar-teal-link-color:                #fff !default;
$navbar-teal-link-hover-color:          #80CBC4 !default;
$navbar-teal-link-hover-bg:             transparent !default;
$navbar-teal-link-active-color:         #004D40 !default;
$navbar-teal-link-active-bg:            darken($navbar-teal-bg, 6.5%) !default;
$navbar-teal-link-disabled-color:       #ccc !default;
$navbar-teal-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-teal-brand-color:               $navbar-teal-link-color !default;
$navbar-teal-brand-hover-color:         darken($navbar-teal-brand-color, 10%) !default;
$navbar-teal-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-teal-toggle-hover-bg:           #ddd !default;
$navbar-teal-toggle-icon-bar-bg:        #888 !default;
$navbar-teal-toggle-border-color:       #ddd !default;

.navbar {
  position: relative;
  min-height: $navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
  margin-bottom: $navbar-margin-bottom;
  border: 1px solid transparent;

  // Prevent floats from breaking the navbar
  @include clearfix;

  @media (min-width: $grid-float-breakpoint) {
    border-radius: $navbar-border-radius;
  }
}


// Default navbar
.navbar-teal {
  background-color: $navbar-teal-bg;
  border-color: $navbar-teal-border;

  .navbar-brand {
    color: $navbar-teal-brand-color;
    &:hover,
    &:focus {
      color: $navbar-teal-brand-hover-color;
      background-color: $navbar-teal-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $navbar-teal-color;
  }

  .navbar-nav {
    > li > a {
      color: $navbar-teal-link-color;

      &:hover,
      &:focus {
        color: $navbar-teal-link-hover-color;
        background-color: $navbar-teal-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-teal-link-active-color;
        background-color: $navbar-teal-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-teal-link-disabled-color;
        background-color: $navbar-teal-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border-color: $navbar-teal-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-teal-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-teal-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-teal-border;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-teal-link-active-bg;
        color: $navbar-teal-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-teal-link-color;
          &:hover,
          &:focus {
            color: $navbar-teal-link-hover-color;
            background-color: $navbar-teal-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-teal-link-active-color;
            background-color: $navbar-teal-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-teal-link-disabled-color;
            background-color: $navbar-teal-link-disabled-bg;
          }
        }
      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $navbar-teal-link-color;
    &:hover {
      color: $navbar-teal-link-hover-color;
    }
  }

  .btn-link {
    color: $navbar-teal-link-color;
    &:hover,
    &:focus {
      color: $navbar-teal-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $navbar-teal-link-disabled-color;
      }
    }
  }
}
