<div class="container">
  <div class="col-sm-12">
    <div class="well">
      <h4>Login Form</h4>
      <div ng-if="error" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <label>{{error}}!</label>
      </div>
      <form class="form-horizontal" role="form" name="loginForm" novalidate>
        <div class="box-body">
          <div class="form-group">
              <label class="col-xs-3 control-label">Email <span class="required">*</span></label>
              <div class="col-xs-9">
                  <input required name="emaill" type="email" class="form-control" placeholder="Email Address" ng-model="loginData.email">
              </div>
          </div>
          <div class="form-group">
              <label class="col-xs-3 control-label">Password <span class="required">*</span></label>
              <div class="col-xs-9">
                  <input required name="password" type="password" class="form-control" placeholder="Password" ng-model="loginData.password">
              </div>
          </div>
          <div class="form-group">
            <div class="col-xs-3"></div>
            <div class="col-xs-9">
                <button class="btn btn-primary btn-flat pull-right" ng-click="login()" ng-disabled="loginForm.$invalid">
                    <span class="fa fa-sign-in"></span> Login
                </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
