<div class="container">
  <div class="col-sm-12">
    <div class="well">
      <h4>Registration Form</h4>
      <p><i>You must fill out the <span class="required">* required fields</span></i>.</p>
      <div ng-if="validationErrors" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-ban"></i> Oooops!</h4>
        <ul ng-repeat="error in validationErrors">
          <li>{{error}}</li>
        </ul>
      </div>
      <form class="form-horizontal" novalidate name="registrationForm">
        <div class="form-group">
          <label class="col-xs-3 control-label">First Name <span class="required">*</span></label>
          <div class="col-xs-9">
            <input required name="first_name" type="text" class="form-control" placeholder="First Name" ng-model="user.first_name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-3 control-label">Last Name <span class="required">*</span></label>
          <div class="col-xs-9">
            <input required type="text" class="form-control" placeholder="Last Name" ng-model="user.last_name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-3 control-label">Email Address <span class="required">*</span></label>
          <div class="col-xs-9">
            <input required type="email" class="form-control" placeholder="Email Address" ng-model="user.email">
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-3 control-label">Password <span class="required">*</span></label>
          <div class="col-xs-9">
            <input required type="password" class="form-control" placeholder="Password" ng-model="user.password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-3 control-label">Re-type Password <span class="required">*</span></label>
          <div class="col-xs-9">
            <input required type="password" class="form-control" placeholder="Password Confirmation" ng-model="user.password_confirmation">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-3"></div>
          <div class="col-xs-9">
            <button class="btn btn-primary btn-flat pull-right" ng-click="register()" ng-disabled="registrationForm.$invalid">
              <span class="fa fa-user"></span> Register
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
